<!DOCTYPE HTML>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

    <title>{{ config.site.name }}</title>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <meta name="description" content="{{ config.site.description}}" />
    <meta name="keywords" content="{{ config.site.keywords }}" />
    <meta name="viewport" content="user-scalable=no, initial-scale=1.0, maximum-scale=1.0">

    <meta property="fb:app_id" content="{{ config.facebook.appid }}" />
    <meta property="og:title" content="{{ config.site.name}}">
    <meta property="og:description" content="{{ config.site.description}}">
    <meta property="og:image" content="{{ config.site.url }}{{ page.facebook.image}}">

    {{> google_verification }}

    <link rel="shortcut icon" href="/assets/images/icon-32x32.png" />
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/font-awesome/4.3.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/main.min.css">
</head>

<body>
<div>
    {{> header }}

    <!-- Page Header -->
    <header class="intro-header" style="background-image: url('{{page.image}}')">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                    <div class="site-heading">
                        <h1>{{#if page.title }}{{ page.title }}{{ else }}{{ site.title }}{{/if}}</h1>
                        <hr class="small">
                        <span class="subheading">{{ page.description }}</span>
                    </div>
                </div>
            </div>
        </div>
    </header>

    {{> body }}

    <section id="fb-like" class="bg-dark wide-breaker text-center">
        <div class="container">
            {{> facebook_like }}
        </div>
    </section>

    <footer class="bg-dark super-dark">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                    <ul class="list-inline text-center">
                        {{#if page.source}}

                            <li>
                                <a class="text-danger" target="_blank" href="https://github.com/wave-developers/wave-developers.github.io-source/{{ page.source }}"
                                   title="Help improve this page">
                                <span class="fa-stack fa-lg">
                                    <i class="fa fa-circle fa-stack-2x"></i>
                                    <i class="fa fa-pencil fa-inverse"></i>
                                </span>
                                </a>
                            </li>

                        {{/if}}
                        <li>
                            <a target="_blank" href="https://twitter.com/{{ config.twitter.account }}">
                            <span class="fa-stack fa-lg">
                                <i class="fa fa-circle fa-stack-2x"></i>
                                <i class="fa fa-twitter fa-stack-1x fa-inverse"></i>
                            </span>
                            </a>
                        </li>
                        <li>
                            <a target="_blank" href="https://www.facebook.com/pages/{{ config.facebook.account }}">
                                <span class="fa-stack fa-lg">
                                    <i class="fa fa-circle fa-stack-2x"></i>
                                    <i class="fa fa-facebook fa-stack-1x fa-inverse"></i>
                                </span>
                            </a>
                        </li>
                        <li>
                            <a target="_blank" href="https://github.com/{{ config.github.account }}">
                                <span class="fa-stack fa-lg">
                                    <i class="fa fa-circle fa-stack-2x"></i>
                                    <i class="fa fa-github fa-stack-1x fa-inverse"></i>
                                </span>
                            </a>
                        </li>
                        <li>
                            <a target="_blank" href="https://www.youtube.com/channel/{{ config.youtube.account }}">
                                <span class="fa-stack fa-lg">
                                    <i class="fa fa-circle fa-stack-2x"></i>
                                    <i class="fa fa-youtube fa-stack-1x fa-inverse"></i>
                                </span>
                            </a>
                        </li>
                    </ul>
                    <p class="copyright">Copyright © {{ config.site.name }} and <a target="_blank" href="{{config.author.url}}">{{ config.author.name }}</a> 2015</p>
                </div>
            </div>
        </div>
    </footer>
</div>

<!-- CDN -->
<script src="https://code.jquery.com/jquery-2.1.3.min.js"></script>
<!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
<script src="/js/main.js"></script>

<div id="fb-root"></div>
<script>(function(d, s, id) {
    var js, fjs = d.getElementsByTagName(s)[0];
    if (d.getElementById(id)) return;
    js = d.createElement(s); js.id = id;
    js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.3&appId={{ config.facabook.appid}}";
    fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>

{{> disqus_count }}
{{> google_analytics }}
</body>
</html>
