{{#if contacts}}
    <p>
        {{#if contacts.facebook}}
            <a target="_blank" href="https://www.facebook.com/{{contacts.facebook}}"><i class="fa fa-facebook-official"></i></a>
        {{/if}}
        {{#if contacts.email}}
          <a target="_blank" href="mailto:{{contacts.email}}"><i class="fa fa-envelope"></i></a>
        {{/if}}
        {{#if contacts.github}}
            <a target="_blank" href="https://www.github.com/{{contacts.github}}"><i class="fa fa-github"></i></a>
        {{/if}}
        {{#if contacts.linkedin}}
            <a target="_blank" href="https://www.linkedin.com/pub/{{contacts.linkedin}}"><i class="fa fa-linkedin"></i></a>
        {{/if}}
        {{#if contacts.site}}
            <a target="_blank" href="{{contacts.site}}"><i class="fa fa-user"></i></a>
        {{/if}}
        {{#if contacts.slideshare}}
          <a target="_blank" href="http://www.slideshare.net/{{contacts.slideshare}}"><i class="fa fa-slideshare"></i></a>
        {{/if}}
        {{#if contacts.stackoverflow}}
          <a target="_blank" href="http://stackoverflow.com/users/{{contacts.stackoverflow}}"><i class="fa fa-stack-overflow"></i></a>
        {{/if}}
        {{#if contacts.twitter}}
          <a target="_blank" href="http://twitter.com/{{contacts.twitter}}"><i class="fa fa-twitter"></i></a>
        {{/if}}
    </p>
{{/if}}