<script type="text/javascript"
        src="https://maps.googleapis.com/maps/api/js?key=AIzaSyC2f8Xuq-20sToONMNWIsQkX-Jjfw5H9mM">
</script>
<script type="text/javascript">
    function initialize() {
        var mapOptions;
        if ('{{config.next.loc}}' !== '') {
            mapOptions = {
                //center: { lat: 42.2040553, lng: 18.9458102},
                center: { lat: {{ config.next.loc.lat }}, lng: {{ config.next.loc.lng }} },
                zoom: {{config.next.loc.zoom}},
                scrollwheel: false
            };
        } else {
            mapOptions = {
                //center: { lat: 42.2040553, lng: 18.9458102},
                center: { lat: 42.453284, lng: 18.539527 },
                zoom: 10,
                scrollwheel: false
            };
        }

        var map = new google.maps.Map(
                document.getElementById('map'),
                mapOptions);

        var nextEventLoc = new google.maps.LatLng(
                mapOptions.center.lat, mapOptions.center.lng
        );

        var marker = new google.maps.Marker({
            position: nextEventLoc,
            animation: google.maps.Animation.DROP,
            title: 'Next Event!'
        });

        marker.setMap(map);

//                TODO: search location by name venue
//
//                var geocoder = new google.maps.Geocoder();
//                geocoder.geocode( { 'address': 'Herceg Novi, Russian Center'}, function(results, status) {
//                    if (status == google.maps.GeocoderStatus.OK) {
//                        map.setCenter(results[0].geometry.location);
//                        var marker = new google.maps.Marker({
//                            map: map,
//                            position: results[0].geometry.location
//                        });
//                    } else {
//                        alert('Geocode was not successful for the following reason: ' + status);
//                    }
//                });
    }
    google.maps.event.addDomListener(window, 'load', initialize);
</script>
<section id="map" style="height: 450px">
</section>
<section>
    <p>
        {{#if config.next.loc}}
            Coordinates: <i class="fa fa-map-marker"></i> {{ config.next.loc.lat }}, {{ config.next.loc.lng }}.
            <a target="_blank" href="https://www.openstreetmap.org/?mlat={{ config.next.loc.lat }}&mlon={{ config.next.loc.lng }}#map=19/{{ config.next.loc.lat }}/{{ config.next.loc.lng }}"><img
                    src="/assets/images/social/osm-32.jpg" width="32" height="32" alt="Open Street Map"/> Open Street Map</a>
        {{else}}
        {{/if}}
    </p>
</section>
