---
layout: default.hbs

section: root
title: About
description: Open IT Community By the Sea

image: "/assets/images/about-header.jpg"

facebook:
  image: "/assets/images/screenshots/about.jpg"

is_next_item_active: true
---

<article class="text-center container about-page">
  <section class="logo">
    <div class="title">Wave Developers</div>
    <img class="icon" src="/assets/images/icon-199x200.png" alt="" width="100" height="100"/>
  </section>
    <section class="we-are">
        <h1>We are</h1>
        <p>
            Wave Developers is a group of passionate geeks that live in Montenegro.
            We have fun creating useful things, cool websites, mobile apps, robots and many other things.
            And finally, we organise events to share our knowledge and meet new people.
        </p>
    </section>
    <hr/>
    <section class="contacts">
        <h1>Contacts</h1>
        <h2><i class="fa fa-envelope-square"></i> Email</h2>
        <a target="_blank" href="mailto:{{ config.email.account }}">{{ config.email.account }}</a>
        <h2><i class="fa fa-facebook-official"></i> Facebook</h2>
        <a target="_blank" href="http://facebook.com/pages/{{ config.facebook.account }}/">facebook.com/pages/{{ config.facebook.account }}</a><br/>
        {{#each config.facebook.groups}}
            <a target="_blank" href="http://facebook.com/groups/{{ id }}/">{{ title }}</a><br/>
        {{/each}}
        <h2><i class="fa fa-github-square"></i> Github</h2>
        <a target="_blank" href="http://github.com/{{ config.github.account }}/">github.com/{{ config.github.account }}</a>
        <h2><i class="fa fa-twitter-square"></i> Twitter</h2>
        <a target="_blank" href="http://twitter.com/{{ config.twitter.account }}/">twitter.com/{{ config.twitter.account }}</a>
        <h2><i class="fa fa-youtube-square"></i> Youtube</h2>
        <a target="_blank" href="https://www.youtube.com/channel/{{ config.youtube.account }}/">Video from events</a>
    </section>
    <section class="thanks">
      <h1>Thanks</h1>
      <span>Design of logo by <a href="https://www.facebook.com/yuraugarov" target="_blank"><i class="fa fa-facebook-official"></i> Yura Ugarov</span>
    </section>
</article>
<script>
(function () { if (window.Path2D) {
  var canvas = document.createElement ('canvas');
  canvas.classList.add ('icon');
  canvas.width = canvas.height = 200;
  canvas.style.width = canvas.style.height = '100px';
  var image = document.querySelector ('img.icon');
  image.parentElement.appendChild (canvas);
  image.parentElement.removeChild (image);
  var path = new Path2D ('M 50.75 -0.25 L 12 -0.25 Q 1.29296875 0.904296875 0.875 11.875 L 0.875 88.125 Q 1.7271484375 98.892578125 12 100.25 L 50.75 100.25 Q 72.8 98.65 85.65 83.3 97.3 69.35 97.35 50 97.35 30.65 85.75 16.7 72.9 1.35 50.75 -0.25 Z');
  var context = canvas.getContext ('2d');
  context.setTransform (2, 0, 0, 2, 0, 0);
  var render = function () {
    context.clearRect (0, 0, 100, 100);
    context.save ();
    context.clip (path);
    context.fillStyle = '#3ea9f5';
    context.fillRect (0, 0, 100, 100);
    context.fillStyle = '#3ed2ff';
    context.lineWidth = 8;
    context.strokeStyle = '#fff';
    context.beginPath ();
    context.moveTo (50, -666);
    var t = (Date.now () % 600) / 300, p = 30;
    for (var i = -1; i < 6; i++) {
      context.lineTo ((i - t) * p, 50);
      context.quadraticCurveTo (
        (i - t + 0.5) * p,
        50 + 15 * (Math.sin(t * Math.PI + i - t) + 2) * (2 * (i % 2) - 1),
        (i - t + 1) * p, 50);
    }
    context.fill ();
    context.stroke ();
    context.restore ();
    requestAnimationFrame (render);
  };
  render ();
}}) ();
</script>
