---
layout: default.hbs

section: root
title: About
description: Open IT Community Near the Sea

image: "/assets/images/about-header.jpg"

source: "edit/master/pages/about.hbs"

is_next_item_active: true
---

<article class="text-center container">
    <section id="we-are">
        <h1>We are</h1>
        <p>
            It's group of passionate geeks that lives near the sea.
            We like create useful thinks, cool websites, mobile apps, robots and many other things.
            And finally organise events, where we share our knowledge.
        </p>
    </section>
    <hr/>
    <section id="contacts">
        <h1>Contacts</h1>
        <h2><i class="fa fa-envelope-square"></i> Email</h2>
        <a target="_blank" href="mailto:{{ config.email.account }}">{{ config.email.account }}</a>
        <h2><i class="fa fa-facebook-official"></i> Facebook</h2>
        <a target="_blank" href="http://facebook.com/pages/{{ config.facebook.account }}/">facebook.com/pages/{{ config.facebook.account }}</a><br/>
        {{#each config.facebook.groups}}
            <a target="_blank" href="http://facebook.com/groups/{{ id }}/">{{ title }}</a><br/>
        {{/each}}
        <h2><i class="fa fa-github-square"></i> Github</h2>
        <a target="_blank" href="http://github.com/{{ config.github.account }}/">github.com/{{ config.github.account }}</a>
        <h2><i class="fa fa-twitter-square"></i> Twitter</h2>
        <a target="_blank" href="http://twitter.com/{{ config.twitter.account }}/">twitter.com/{{ config.twitter.account }}</a>
        <h2><i class="fa fa-youtube-square"></i> Youtube</h2>
        <a target="_blank" href="https://www.youtube.com/channel/{{ config.youtube.account }}/">Video from events</a>
    </section>
</article>