---
layout: default.hbs

section: root
tab: Main
title: Wave Developers
description: We make waves and change reality
---

<article>
    <div class="text-center">
        <div class="jumbotron">
            <h1>Upcoming event</h1>
            <p>
                It will we in Montenegro (Crna Gora) soon
            </p>
            <p>
                <button class="btn btn-primary">Join us at the end of May!</button>
            </p>
        </div>
    </div>

    <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
        <h1>Before</h1>

        {{#withSort pages 'data.date' dir='desc'}}
            <div class="post-preview">
                {{#is data.section 'event'}}
                    <a href="events/{{pagename}}">
                        <div>
                            <header>
                                <h2 class="post-title">
                                    {{data.title}}
                                </h2>
                                <span class="post-subtitle">
                                  {{data.description}}
                                </span>
                                <span class="post-meta">

                                </span>
                            </header>
                            <div class="header-image" style="background-image: url('{{data.image}}')">

                            </div>
                        </div>
                    </a>
                {{/is}}
            </div>
        {{else}}
            <p>There no any events</p>
        {{/withSort}}
    </div>
</article>
