---
layout: default.hbs

section: root
tab: Main
title: Wave Developers
description: We make waves and change reality

image: "/events/2015-02-21.jpg"
---

<article>
    <div class="text-center">
        <div class="jumbotron">
            <h1>Upcoming event</h1>

            <p>
                Community driving meetup in Montenegro soon.
            </p>

            <p>
                <button class="btn btn-danger btn-lg join-us" type="button"><i class="fa fa-anchor"></i>&nbsp;&nbsp;Join
                    us at the end of May!
                </button>
            </p>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
            <h1>Before</h1>

            {{#withSort pages 'data.date' dir='desc'}}
                <div>
                    {{#is data.section 'event'}}
                        <a href="events/{{pagename}}" class="post-preview">
                                <h2 class="post-title">
                                    {{data.title}}
                                </h2>
                                <span class="post-subtitle">
                                    {{data.description}}
                                </span>
                                <span class="post-meta">
                                    on <span class="month">{{ formatDate data.date "%b"}}<span></span></span> <span class="day">{{ formatDate data.date "%d"}}</span><span class="year">, {{ formatDate data.date "%Y"}}</span>
                                </span>
                                <div class="header-image" style="background-image: url('{{data.image}}')">

                                </div>
                        </a>
                    {{/is}}
                </div>
            {{else}}
                <p>There no any events</p>
            {{/withSort}}
        </div>
    </div>
    <div>
        <h1>Location</h1>
        <script type="text/javascript"
                src="https://maps.googleapis.com/maps/api/js?key=AIzaSyC2f8Xuq-20sToONMNWIsQkX-Jjfw5H9mM">
        </script>
        <script type="text/javascript">
            function initialize() {
                var mapOptions = {
                    center: { lat: 42.2040553, lng: 18.9458102},
                    zoom: 9,
                    scrollwheel: false
                };
                var map = new google.maps.Map(
                        document.getElementById('map'),
                        mapOptions);
            }
            google.maps.event.addDomListener(window, 'load', initialize);
        </script>

        <section id="map" style="height: 450px"></section>
    </div>
</article>