---
layout: default.hbs

section: root
tab: Main
title: Wave Developers
description: We make waves and change reality

image: "/assets/images/index-header.jpg"

facebook:
  image: "/assets/images/screenshots/index.jpg"

---

<article>
    <div class="text-center">
        <div class="jumbotron">
            <h1>Upcoming event</h1>

            <p>
                Community driving meetup in Montenegro soon.
            </p>

            <p>
                <a href="/next.html" class="btn btn-danger btn-lg join-us" type="button"><i class="fa fa-anchor"></i>&nbsp;&nbsp;Join
                    us at {{config.next.when}}!
                </a>
            </p>
        </div>
    </div>

    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                <h1>Before</h1>
            </div>
        </div>

        {{#withSort pages 'data.date' dir='desc'}}
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                {{#is data.section 'event'}}
                    <a href="events/{{pagename}}" class="post-preview">
                        <h2 class="post-title">
                            {{data.title}}
                        </h2>
                        <span class="post-subtitle">
                            {{data.description}}
                        </span>
                        <span class="post-meta">
                            on <span class="month">{{ formatDate data.date "%b"}}<span></span></span> <span class="day">{{ formatDate data.date "%d"}}</span><span class="year">, {{ formatDate data.date "%Y"}}</span>
                        </span>
                        <div class="header-image" style="background-image: url('{{data.image}}')">

                        </div>
                    </a>
                {{/is}}
                </div>
            </div>
        {{else}}
            <p>There no any events</p>
        {{/withSort}}
    </div>
    <div>
        <h1>Location <small>of <a href="/next.html#place">next</a> event</small></h1>
        {{>next_event_map}}
    </div>
</article>