---
layout: default.hbs

section: root
tab: Main
title: Wave Developers
description: We make waves and change reality
---

<article>
    <div class="text-center">
        <div class="jumbotron">
            <h1>Upcoming event</h1>
            <p>
                It will we in Montenegro (Crna Gora) soon
            </p>
            <p>
                <button class="btn btn-primary">Join us at the end of May!</button>
            </p>
        </div>
    </div>

    <h1>Before</h1>
    {{#withSort pages 'data.date' dir='desc'}}
        {{#is data.section 'event'}}
            <a href="events/{{pagename}}">
                <div>
                    <header>
                        <h2>
                            {{data.title}}
                        </h2>
                        <span>
                          {{data.description}}
                        </span>
                    </header>
                    <img src="{{data.image}}" alt="{{data.title}}"
                         height="200"/>
                </div>
            </a>
        {{/is}}
    {{else}}
        <p>There no any events</p>
    {{/withSort}}
</article>
