---
layout: default.hbs

title: "Monte Developers Meetup #04"
description: "2015 Summery"
image: "/events/2015-12-13.jpg"

speakers:
    - id: andriy-bazyuta
      name: Andriy Bazyuta

    - id: eugene-krevenets
      name: Eugene Krevenets
      title: Docker or Micro Services for Lazy Developers
      contacts:
          github: hyzhak
          facebook: hyzhak
          linkedin: in/eugenekrevenets
          site: http://hyzhak.github.io
          slideshare: EugeneKrevenets
          stackoverflow: 1324730/eugene-krevenets
          twitter: hyzhak_en
      description:
          - text: >
                  How to use Docker to build enviropment to develop web application and get&nbsp;fun
            locale: en
          - text: Использование Docker-compose для развертывания среды разработки веб приложения
            locale: ru

    - id: eugene-potapenko
      name: Eugene Potapenko
      contacts:
          site: http://playphrase.me
          twitter: potapenko

    - id: sergii-liskovskyi
      name: Sergii Liskovskyi
      title: ESP8266

    - id: vadik-rastyagaev
      name: Vadik Rastyagaev
      title: Web&nbsp;components and Polymer
      contacts:
          email: rastyagaev@gmail.com
      description:
          - text: >
                <ul>
                  <li>Components on the web</li>
                  <li>Native web components</li>
                  <li>The Polymer library</li>
                </ul>
            locale: en


joinon:
  facebook: 1657795444471708
  lanyrd: ?
  meetup: 227334828

facebook:
  image: "/assets/images/screenshots/event-2015-12-13.jpg"

source: "edit/master/pages/next.hbs"
---

<article class="is-post container">
    <h1>Future event <small>June 2015</small></h1>
    <sections id="speakers">
        <h2>Speakers</h2>
        {{#each speakers}}
            <div class="row">
                <div class="col-md-3 speaker-block">
                    <h3 id="{{id}}">{{name}}
                        {{#if title}}
                            :: <small> {{{title}}}</small>
                        {{/if}}
                    </h3>
                </div>
            </div>
            <div class="row">
                <div class="col-md-3 speaker-block">
                    {{#if id}}
                        <p>
                            <img src="/assets/images/speakers/{{id}}.jpg" width="128" height="128" title="{{name}}"/>
                        </p>
                    {{/if}}

                    {{>contacts}}
                </div>
                <div class="col-md-9">
                    {{>all_locales description}}
                </div>
            </div>
            {{#draft}}
                {{#if photo}}
                    <img src="{{photo}}" alt="{{name}}"/>
                {{/if}}
                <h3>{{name}}</h3>
                {{>all_locales description}}
            {{/draft}}
        {{/each}}
        <br/>
        <a href="/call.html" class="btn btn-success"><i class="fa fa-user-plus"></i> Became a speaker (стать докладчиком)</a>
    </sections>
    <hr/>
    <section id="place">
        <h2>Place</h2>
        {{>next_event_map}}
        <h3>Address</h3>
        <p>{{{config.next.loc.name}}}</p>
    </section>
    <hr/>
    <section id="time">
        <h2>Date & Time</h2>
        <p>{{config.next.when}}</p>
    </section>
    <hr/>
    <section id="join">
        <h2>Join Us On</h2>
        <div>
            {{#if joinon.meetup}}
            <a href="http://www.meetup.com/monte-dev-meetup/events/{{joinon.meetup}}/" target="_blank">
                <img src="/assets/images/social/meetup.jpg" alt="meetup" width="64" height="64"/>
            </a>
            {{/if}}
            {{#if joinon.lanyrd}}
            <a href="http://lanyrd.com/{{joinon.lanyrd}}/" target="_blank">
                <img src="/assets/images/social/lanyrd.jpg" alt="lanyrd" width="64" height="64"/>
            </a>
            {{/if}}
            {{#if joinon.facebook}}
            <a href="https://www.facebook.com/events/{{joinon.facebook}}/" target="_blank">
                <img src="/assets/images/social/facebook.jpg" alt="facebook" width="64" height="64"/>
            </a>
            {{/if}}
            {{#if joinon.googlecalendar}}
            <a href="https://www.google.com/calendar/event?action=TEMPLATE&tmeid={{joinon.googlecalendar}}&tmsrc=hyzhaka%40gmail.com" target="_blank">
                <img src="/assets/images/social/google-calendar.jpg" alt="google calendar" width="64" height="64"/>
            </a>
            {{/if}}
        </div>
        <p>
            <a href="/about.html#contacts">Contacts Us</a>
        </p>
    </section>
</article>
