---
layout: default.hbs

title: "Monte Developers Meetup #06"
description: "Let's get together to talk about mobile apps"
image: "/events/2016-02-??.jpg"

speakers:
    - id: dmitry-sher
      name: Dmitry&nbsp;Sher
      title:
      description:
      - text: Creating hybrid reactive mobile apps with Meteor.js and React
        locale: en
      - text: Опыт создания гибридных реактивных мобильных приложений на meteor+react
        locale: ru
    - id: eugene-potapenko
      name: Eugene&nbsp;Potapenko
      title:
      contacts:
          site: http://playphrase.me
          twitter: potapenko
      description: React-Native
    - id: konstantin-kovalev
      name: Konstantin&nbsp;Kovalev
      description:
      - text: Опыт создания responsive design в существующем one page web application
        locale: ru

joinon:
  facebook: facebook
  lanyrd: lanyrd
  meetup: meetup

facebook:
  image: "/assets/images/screenshots/event-2016-02-??.jpg"
---

<article class="is-post container">
    <h1>Upcoming event <small>Mobile development - how to build mobile app, how promote mobile apps, how to monetize mobile apps. Feb 2016</small></h1>
    <sections id="speakers">
        <h2>Speakers: we're still accepting new speakers</h2>
        {{#each speakers}}
            <div class="row">
                <div class="col-md-3 speaker-block">
                    <h3 id="{{id}}">{{{name}}}
                        {{#if title}}
                            <span class="hidden-lg hidden-md">::</span> <small> {{{title}}}</small>
                        {{/if}}
                    </h3>
                </div>
            </div>
            <div class="row">
                <div class="col-md-3 speaker-block">
                    {{#if id}}
                        <p>
                            <img src="/assets/images/speakers/{{id}}.jpg" width="128" height="128" title="{{name}}"/>
                        </p>
                    {{/if}}

                    {{>contacts}}
                </div>
                <div class="col-md-9">
                    {{>all_locales description}}
                </div>
            </div>
            {{#draft}}
                {{#if photo}}
                    <img src="{{photo}}" alt="{{name}}"/>
                {{/if}}
                <h3>{{name}}</h3>
                {{>all_locales description}}
            {{/draft}}
        {{/each}}
        <br/>
        <a href="/call.html" class="btn btn-success"><i class="fa fa-user-plus"></i> Submit speaker request (стать докладчиком)</a>
    </sections>
    <hr/>
    <section id="place">
        <h2>Place: Podgorica</h2>
        {{>next_event_map}}
        <h3>Address: we are now locking for a place to host our event. Should you have any or can advise - please contact us</h3>
        <p>{{{config.next.loc.name}}}</p>
    </section>
    <hr/>
    <section id="time">
        <h2>Date & Time: last weekend of February</h2>
        <p>{{config.next.when}}</p>
    </section>
    <hr/>
    <section id="join">
        <h2>Join Us On</h2>
        <div>
            {{#if joinon.meetup}}
            <a href="http://www.meetup.com/monte-dev-meetup/events/{{joinon.meetup}}/" target="_blank">
                <img src="/assets/images/social/meetup.jpg" alt="meetup" width="64" height="64"/>
            </a>
            {{/if}}
            {{#if joinon.lanyrd}}
            <a href="http://lanyrd.com/{{joinon.lanyrd}}/" target="_blank">
                <img src="/assets/images/social/lanyrd.jpg" alt="lanyrd" width="64" height="64"/>
            </a>
            {{/if}}
            {{#if joinon.facebook}}
            <a href="https://www.facebook.com/events/{{joinon.facebook}}/" target="_blank">
                <img src="/assets/images/social/facebook.jpg" alt="facebook" width="64" height="64"/>
            </a>
            {{/if}}
            {{#if joinon.googlecalendar}}
            <a href="https://www.google.com/calendar/event?action=TEMPLATE&tmeid={{joinon.googlecalendar}}&tmsrc=hyzhaka%40gmail.com" target="_blank">
                <img src="/assets/images/social/google-calendar.jpg" alt="google calendar" width="64" height="64"/>
            </a>
            {{/if}}
        </div>
        <p>
            <a href="/about.html#contacts">Contacts Us</a>
        </p>
    </section>
</article>
