---
layout: default.hbs

title: "Monte Developers Meetup #04"
description: "Internet Of Things (IoT)"

speakers:
    - id: alex-pazhyn
      name: Alex Pazhyn
      about:
          - text: UI designer in Ciklum Interactive, Ukraine. Over 5 years of experience in design. Started the career path in identity and printing, and then switched to web and mobile apps.
            locale: en
      description:
          - text: >
                <p>
                    Designing for Internet of things:
                </p>
                <ul>
                    <li>What’s the IOT means and how it works</li>
                    <li>What UI are exist for IOT and how to design for IOT</li>
                    <li>Future Interfaces and best cases for today</li>
                </ul>

    - id: konstantin-mirin
      name: Konstantin Mirin
      about:
          - text: 12 years of coding, 5 years being CEO. Enjoy working with edge technologies and see good niche in Internet Of Things and energy saving solutions
            locale: en
          - text: 12 лет кодинга, 5 лет в роли CEO. Нравится работать с последними технологиями и вижу отличную нишу в области Интернета Вещей и энергосберегающих технологий.
            locale: ru
      description:
          - text: How to schedule lighting intensity using from smartphone? Have you ever seem Philips Hue? Lifx? Marlight? Ever wanted to created it yourself? We’ll go through our approach where we create lighting solution for halls with two hundred light arrays.
            locale: en
          - text: Как регулируют освещенность с телефона по расписанию? Видели ли Philips Hue? Lifx? Marlight? Хотели ли сделать такое самостоятельно? Я расскажу, как мы делаем систему для освещения выставочных залов с двумя сотнями осветительных блоков.
            locale: ru

source: "edit/master/pages/next.hbs"
---

<article class="is-post container">
    <h1>Future event <small>June 2015</small></h1>
    <sections id="speakers">
        <h2>Speakers</h2>
        {{#each speakers}}
            <div class="row">
                <div class="col-md-3 speaker-block">
                    <h3 id="{{id}}">{{name}}
                        {{#if title}}
                            :: <small> {{title}}</small>
                        {{/if}}
                    </h3>
                </div>
            </div>
            <div class="row">
                <div class="col-md-3 speaker-block">
                    {{#if id}}
                        <p>
                            <img src="/assets/images/speakers/{{id}}.jpg" width="128" height="128" title="{{name}}"/>
                        </p>
                    {{/if}}

                    {{>contacts}}
                </div>
                <div class="col-md-9">
                    {{>all_locales text=description}}
                </div>
            </div>
            {{#draft}}
                {{#if photo}}
                    <img src="{{photo}}" alt="{{name}}"/>
                {{/if}}
                <h3>{{name}}</h3>
                {{>all_locales text=description}}
            {{/draft}}
        {{/each}}
        <br/>
        <a href="/call.html" class="btn btn-success"><i class="fa fa-user-plus"></i> Became a speaker (стать докладчиком)</a>
    </sections>
    <hr/>
    <section id="place">
        <h2>Place</h2>
        {{>next_event_map}}
        <h3>Address</h3>
        <p>{{config.next.loc.name}}</p>
    </section>
    <hr/>
    <section id="time">
        <h2>Date & Time</h2>
        <p>{{config.next.when}}</p>
    </section>
    <hr/>
    <section id="join">
        <h2>Join Us On</h2>
        <div>
            <!--
            <a href="http://www.meetup.com/Monte-Dev-Meetup/events/222683979/" target="_blank">
                <img src="/assets/images/social/meetup.jpg" alt="meetup" width="64" height="64"/>
            </a>
            <a href="http://lanyrd.com/2015/montedevmeetup/" target="_blank">
                <img src="/assets/images/social/lanyrd.jpg" alt="lanyrd" width="64" height="64"/>
            </a>
            <a href="https://www.facebook.com/events/926676357373901/" target="_blank">
                <img src="/assets/images/social/facebook.jpg" alt="facebook" width="64" height="64"/>
            </a>
            <a href="https://www.google.com/calendar/event?action=TEMPLATE&tmeid=OTN2b3JuNmIybjg5MDg1c2U5MTBvb2g2Zm8gaHl6aGFrYUBt&tmsrc=hyzhaka%40gmail.com" target="_blank">
                <img src="/assets/images/social/google-calendar.jpg" alt="google calendar" width="64" height="64"/>
            </a>
            -->
        </div>
        <p>
            <a href="/about.html#contacts">Contacts Us</a>
        </p>
    </section>
</article>
