---
layout: event.hbs
section: event

title: "Monte Developers Meetup #03"
description: "Javascript"
date: 2015-05-30
image: "/events/2015-05-30.jpg"

speakers:
    - id: eugene-potapenko
      name: Eugene Potapenko
      contacts:
          site: http://playphrase.me
      description:
          - text: will share his experience of developming playphrase.me with node.js and angular.js.
            locale: en
          - text: опыт разработки проекта playphrase.me - node.js + angular
            locale: ru
    - id: konstantin-baev
      name: Konstantin Baev
      contacts:
          site: http://kbaev.ru
          github: kipruss
      description:
          - text: will talk about Kanban - method of flexible management of processes, survey realizations of Kanban board and introduce Kanbanchi - one of realizations, where he takes part as a developer
            locale: en
          - text: о Канбане, методологии гибкого управления задачами. Обзор программных реализаций доски Канбан, а так же Kanbanchi - в разработке которой принимает участие
            locale: ru

source: "edit/master/events/2015-05-30.hbs"

is_next_item_active: true
---

<article class="is-post container">
    <sections id="speakers">
        <h2>Speakers</h2>
        {{#each speakers}}
            <div class="row">
                <div class="col-md-3 speaker-block">
                    <h3 id="{{id}}">{{name}}
                        {{#if title}}
                            :: <small> {{title}}</small>
                        {{/if}}
                    </h3>
                </div>
            </div>
            <div class="row">
                <div class="col-md-3 speaker-block">
                    {{#if id}}
                        <p>
                            <img src="/assets/images/speakers/{{id}}.jpg" width="128" height="128" title="{{name}}"/>
                        </p>
                    {{/if}}

                    {{#if contacts}}
                        <p>
                            {{#if contacts.slideshare}}
                                <a target="_blank" href="http://www.slideshare.net/{{contacts.slideshare}}"><i class="fa fa-slideshare"></i></a>
                            {{/if}}
                            {{#if contacts.facebook}}
                                <a target="_blank" href="https://www.facebook.com/{{contacts.facebook}}"><i class="fa fa-facebook-official"></i></a>
                            {{/if}}
                            {{#if contacts.github}}
                                <a target="_blank" href="https://www.github.com/{{contacts.github}}"><i class="fa fa-github"></i></a>
                            {{/if}}
                            {{#if contacts.email}}
                                <a target="_blank" href="mailto:{{contacts.email}}"><i class="fa fa-envelope"></i></a>
                            {{/if}}
                            {{#if contacts.site}}
                                <a target="_blank" href="{{contacts.site}}"><i class="fa fa-user"></i></a>
                            {{/if}}
                        </p>
                    {{/if}}
                </div>
                <div class="col-md-9">
                    {{#each description}}
                        <p>
                            {{text}}
                        </p>
                    {{/each}}
                </div>
            </div>
        {{/each}}
    </sections>
    <hr/>
    <section id="place">
        <h2>Place</h2>
        <p>
            <a href="https://www.facebook.com/russkult/">Russian Cultural Centre named after the count Sava Vladislavich</a>
        </p>
        <p>
            Manastirska 2, Herceg Novi, Montenegro
        </p>
    </section>
    <hr/>
</article>
