---
layout: event.hbs
section: event

title: "Monte Developers Meetup #02"
description: "Startups"
date: 2015-04-25
image: "/events/2015-04-25.jpg"
speakers:
    - id: rodion-mamin
      name: Rodion Mamin
      photo: /assets/images/speakers/rodion-mamin.jpg
      title: Using of Titanium for Startups (ru/eng)
      contacts:
          slideshare: rodionmamin
          facebook: rodion.mamin
      presentation:
          slideshare:
            id: zxH6nTbNI6eo6E
          youtube:
            id: qmYivUtYPA8
    - id: kirill-antoshin
      name: Kirill Antoshin
      title: Путь Самурая - или как запустить проект в одиночку
      photo: /assets/images/speakers/kirill-antoshin.jpg
      contacts:
          slideshare: kirillkvanto
          email: info@myrentacar.me
      presentation:
          slideshare:
            id: CPxiw9zYFnshpV
          youtube:
            id: 8AaEGxyhugA
    - name: Ivan Kukic
      photo: /assets/images/speakers/ivan-kukic.jpg
    - name: Alex Romanenko
      photo: /assets/images/speakers/alex-romanenko.jpg

source: "edit/master/events/2015-04-25.md"

is_next_item_active: true

---

<h2>Speakers</h2>

{{#each speakers}}
    <section>
        <h3 id="{{id}}">{{name}}
            {{#if title}}
                :: <small> {{title}}</small>
            {{/if}}
        </h3>
        <div class="row">
            <div class="col-md-3 speaker-block">
                {{#if photo}}
                    <p>
                        <img src="{{photo}}" width="128" height="128"/>
                    </p>
                {{/if}}

                {{#if contacts}}
                    <p>
                        {{#if contacts.slideshare}}
                            <a target="_blank" href="http://www.slideshare.net/{{contacts.slideshare}}"><i class="fa fa-slideshare"></i></a>
                        {{/if}}
                        {{#if contacts.facebook}}
                            <a target="_blank" href="https://www.facebook.com/{{contacts.facebook}}"><i class="fa fa-facebook-official"></i></a>
                        {{/if}}
                        {{#if contacts.email}}
                            <a target="_blank" href="mailto:{{contacts.email}}"><i class="fa fa-envelope"></i></a>
                        {{/if}}
                    </p>
                {{/if}}

            </div>
            <div class="col-md-9">
            {{#if presentation}}
                <p>
                    {{#if presentation.youtube}}
                        <iframe class="presentation-wide-media" width="640" height="360" src="https://www.youtube.com/embed/{{presentation.youtube.id}}" frameborder="0" allowfullscreen>
                        </iframe>
                    {{/if}}
                    {{#if presentation.slideshare}}
                        <iframe class="presentation-wide-media" src="//www.slideshare.net/slideshow/embed_code/key/{{presentation.slideshare.id}}" width="640" height="534" frameborder="0" marginwidth="0" marginheight="0" scrolling="no" style="border:1px solid #CCC; border-width:1px; margin-bottom:5px; max-width: 100%;" allowfullscreen>
                        </iframe>
                    {{/if}}
                </p>
            {{else}}
                <p>
                    <i>video will be added soon</i>
                </p>
            {{/if}}
            </div>
        </div>
    </section>
    <hr/>
{{/each}}

<section>
    <h1>
        Photos
    </h1>

    <div class="row">
        <div class="col-md-offset-3 col-md-9">
            <a href="https://www.facebook.com/media/set/?set=pcb.677403152388651&type=1">
                <img class="presentation-wide-media" src="/events/2015-04-25-fb-photos.jpg" alt="photos of this event"/>
            </a>
        </div>
    </div>
</section>
